.add-quote {
  display: flex;
  flex-direction: column;
}

.add-quote-button {
  margin-top: 2em;
  background-color: #0064ff;
}

.cancel-button {
  background-color: #bd2130;
}

.quote {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 5px;
}

.quote-text {
  grid-column: 1 / 3;
}

.quote-author {
  grid-column: 2;
  grid-row: 3;
}

.quote-generator {
  background-color: #04aa6d;
}

@media (min-width: 800px) {
  .container {
    max-width: 600px;
    width: 100%;
    padding: 1rem;
  }
}
